h1 {
    color: blueviolet;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: 'Poppins';
    font-weight: 900;
}

.input-group {
    position: relative;
    padding-bottom: 20px;
}

.input {
    padding: 10px;
    border-radius: 4px;
    outline: none;
    color: blueviolet;
    border: 1px solid blueviolet;
    font-family: 'Poppins';
}

.input:focus{
    box-shadow: none;
    border-color: blueviolet;
    color: blueviolet;

}

.placeholder {
    position: absolute;
    top: 10px;
    left: 6px;
    font-size: 16px;
    padding: 0px 5px;
    color: blueviolet;
    background-color: transparent;
    transition: 0.3s;
    pointer-events: none;
    font-family: 'Poppins';
    font-weight: 600;
}

.input:focus + .placeholder, .input:not(:placeholder-shown) + .placeholder {
    top: -30px;
    color:blueviolet;
}

.butt {
    width: 50%;
    transition: .5s linear;
    position: relative;
    display: block;
    background: transparent;
    text-transform: uppercase;
    font-weight: 900;
    color: blueviolet;
    border-color: blueviolet;
    font-family: Poppins;
    border: 2px solid;
    margin: 0 25% 0 25%;
}

.butt:before {
    position: absolute;
}

.butt:hover {
    background-color: blueviolet;
    color: white;
    border-color: blueviolet;
}

.butt:active, .butt:focus, .butt:after{
    background-color: blueviolet;
}

.form-label, .control {
    font-family: 'Poppins';
    color: blueviolet;
}

.card {
    width: 200px;
    padding: .8em;
    background: #f5f5f5;
    align-items: center;
    color: blueviolet;
    font-family: 'Poppins';
   }

.card-img-top {
    transition: 0.6s;
}

.card-img-top:hover{
    transform: scale(1.1);
}

.container {
    display: flex;
   }

.alert {
    height: 50px;
    font-family: 'Poppins';
   }

.row {
    justify-content: center;
}

body {
    background-color: rgba(255, 255, 255, 0.79);
}

.nav-link, .dropdown-item, .logo {
    font-family: 'Poppins';
    color: blueviolet;
    transition: 0.5s;
}

.nav-link:hover, .nav-link:focus, .dropdown-item:hover {
    box-shadow: 0 1px 0 0 currentColor;
    font-family: 'Poppins';
    background-color: blueviolet;
    color: white;
}

.login-form {
    position: relative;
    border: 2px solid blueviolet;
    margin-inline: 1.5rem;
    margin: 0 20% 0 20%;
    padding: 2.5rem 1.5rem;
    border-radius: 1rem;
}

.lista {
    color: blueviolet;
}

.logo {
    width: 70px;
}

.card_2 {
    width: 300px;
    padding: .8em;
    background: #f5f5f5;
    align-items: center;
    font-family: 'Poppins';
    margin: 5% 0 5% 20%;
    border: 1px solid black;
    transition: 1s;
    border-radius: 10%;
}

.card_2:hover {
    transform: scale(1.05);
}

.card-title {
    text-align: center;
}